<nz-tabset id="tabMenuContiner" nzCentered nzSize="large" nzTabPosition="bottom"
    (nzSelectedIndexChange)="onSelectedPageIndex($event)">
    <nz-tab [nzTitle]="pageHome">
        <ng-template #pageHome>
            <i class="uil uil-chart"></i> Inicio
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="pagePurchase">
        <ng-template #pagePurchase>
            <i class="uil uil-shopping-basket"></i> Compras
        </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="pageConfig">
        <ng-template #pageConfig>
            <i class="uil uil-setting"></i> Configuración
        </ng-template>
    </nz-tab>
</nz-tabset>